[submodule "libzmq"]
	path = 3rdparty/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "cppzmq"]
	path = 3rdparty/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "imgui"]
	path = 3rdparty/imgui/imgui
	url = https://github.com/ocornut/imgui.git